html,
body {
  height: 100%;
}

body {
  background-color: $background-color;
  font-family: $font-family-base;
  font-weight: $font-weight-base;
}

.btn {
  font-weight: $font-weight-medium;
}

.form-control:focus {
  border-color: $input-focus-border-color;
  box-shadow: 0 0 0 0.2rem rgba($input-focus-border-color, 0.25);
}

.hide {
  display: none;
}
