$font-family-base: 'Roboto', 'Helvetica Neue', sans-serif;

$enable-shadows: true;
$enable-rounded: false;

$body-bg: #333;
$body-color: #fff;

$component-active-bg: $body-color;

$playground-border: 1px solid $body-color;
$playground-bg: #222;

$path-to-images: '/assets';
