$font-family-base: 'Roboto', sans-serif;
$font-weight-base: 400;
$font-weight-medium: 500;
$path-to-images: '/assets';

$background-color: #333;
$body-color: #fff;
$input-focus-border-color: #fff;
$message-color: #999;
$message-meta-color: #007bff;
$message-meta-alt-color: #007bff;
