@import 'variables';
@import '~bootstrap';
html,
body {
  height: 100%;
}

body {
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.container-lg {
  transition: ease 1s;

  &.mw-fixed {
    @include media-breakpoint-up(md) {
      max-width: 720px;
    }
  }
}

header {
  .nav {
    .nav-link {
      margin: 0 0.5rem;
      padding: 0.25rem 0;
      font-weight: 700;
      color: rgba($body-color, 0.5);
      background-color: transparent;
      border-bottom: 0.25rem solid transparent;

      &:hover,
      &:focus {
        border-bottom-color: $body-color;
      }
      &.active {
        color: $body-color;
        border-bottom-color: $body-color;
      }
    }
  }
  small {
    color: rgba($body-color, 0.8);
  }
}

#startupSection {
  .boy-image {
    background-image: url(#{$path-to-images}/like.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    padding: 0 2rem;
  }
}

#warmupSection {
  display: none;

  .columns {
    max-height: 400px;
  }

  .message-box-container {
    background-color: $playground-bg;
    border: $playground-border;
    width: 33%;

    .message-list {
      padding: 1rem 0;
      overflow: auto;
      height: 100%;

      li {
        border: none;
        padding: 0 1.25rem;
        background-color: transparent;
        color: rgba($body-color, 0.8);

        .date {
          color: rgba($body-color, 0.6);
        }

        &::before {
          content: '/> ';
          color: rgba($body-color, 0.4);
          font-style: normal;
        }

        &.info {
          font-style: italic;
        }

        &.message {
          .username {
            color: $yellow;
          }
          &.alt-true {
            .username {
              color: $blue;
            }
          }
        }
      }

      &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }

      &::-webkit-scrollbar-track {
        background-color: $playground-bg;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba($body-color, 0.7);
        border: 3px solid $playground-bg;
      }
    }

    input[type='text'] {
      background-color: transparent;
      width: 90%;
      border: none;
      border-top: $playground-border;
      color: $body-color;
      margin: 0 auto;

      &:focus {
        box-shadow: none;
      }
    }
  }

  .game-container {
    canvas {
      border: $playground-border;
      background-color: $playground-bg;
      width: 100%;
    }
  }
}

footer {
  color: rgba($body-color, 0.5);
}
