@import 'variables';
@import 'override';

body {
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.container {
  max-width: 720px;
}

header {
  .nav {
    .nav-link {
      margin: 0 0.5rem;
      padding: 0.25rem 0;
      font-weight: 700;
      color: rgba($body-color, 0.5);
      background-color: transparent;
      border-bottom: 0.25rem solid transparent;

      &:hover,
      &:focus {
        border-bottom-color: $body-color;
      }
      &.active {
        color: $body-color;
        border-bottom-color: $body-color;
      }
    }
  }
  small {
    color: rgba($body-color, 0.8);
  }
}

footer {
  color: rgba($body-color, 0.5);
}

.boy-image {
  background-image: url(#{$path-to-images}/like.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  padding: 0 2rem;
}

.message-list {
  background-color: $body-color;
  padding: 1rem 0;
  margin-bottom: 1.5rem;
  border-radius: 0.25rem;
  height: 40vh;
  overflow: auto;

  li {
    position: relative;
    display: block;
    border: none;
    padding: 0 1.25rem;
    background-color: transparent;
    color: $message-color;

    .date {
      color: rgba($message-color, 0.8);
    }

    &::before {
      content: '/> ';
      color: rgba($message-color, 0.5);
      font-style: normal;
    }

    &.info {
      font-style: italic;
    }

    &.message {
      .username {
        color: $message-meta-color;
      }
      &.alt-true {
        .username {
          color: $message-meta-alt-color;
        }
      }
    }
  }
}

#gameboard {
  canvas {
    border: $gameboard-border;
    background-color: $gameboard-background-color;
  }
}
